.contents .divider {
    margin-top: 12px;
}

.contents ul {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.contents li {
    list-style-type: none;
    display: inline;
    font-size: 25px;
}

.contents .work {
    font-size : 60px;
    font-weight: 500;
}

.contents .workframe {
    margin: 20px 50px;
    margin-bottom: 50px;
}

.contents .second-row {
    margin-right: 40px;
    margin-left: 40px;
}

.contents .workframe img, .contents .workframe video {
    width: 100%;
    transition: 0.3s;
}

.contents .workframe img:hover, .contents .workframe video:hover{
    opacity:0.9;
    transform: scale(1.05);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}

.contents .title {
    font-size: 22px;
    font-weight: 600;
    margin-top: 8px;
    margin-left: 5px;
}

.contents .subtitle {
    font-size: 22px;
    font-weight: 300;
    margin-top: 0px;
    margin-left: 5px;
}