.contents {
    margin: 0px 15px;
}

.contents .first-row {
    margin-top:0px;
    vertical-align: baseline;
}

.contents .first-row .divider {
    margin-top:5px;
}

.contents .first-row .col-a .divider {
    width:99%;
}

.contents .work {
    font-size : calc(3.5vw + 20px);
    font-weight: 500;
}

.contents ul {
    display: flex;
    justify-content: space-between;
    padding:0px;
    margin-top: calc(2.5vw + 0px);
}

.contents li {
    list-style-type: none;
    display: inline;
    font-size: calc(1vw + 15px);
}

.contents .workframe {
    margin: calc(1vw + 0px) 40px;
    margin-bottom: 40px;
}

.contents .second-row {
    margin: calc(1vw + 0px) calc(3vw + 0px);
}

.contents .workframe img, .contents .workframe video {
    width: 100%;
    transition: 0.3s;
}

.contents .workframe img:hover, .contents .workframe video:hover{
    opacity:0.9;
    transform: scale(1.05);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}

.contents .title {
    font-size: calc(1.5vw + 10px);
    font-weight: 600;
    margin-top: 8px;
    margin-left: 5px;
}

.contents .subtitle {
    font-size: calc(1.5vw + 10px);
    font-weight: 400;
    margin-top: 0px;
    margin-left: 5px;
}