.contents {
    margin: 0px 15px;
}

.contents .first-row {
    margin-top: 0px;
    vertical-align: baseline;
}

.contents .first-row .divider {
    margin-top:5px;
    /* transform: translate(0px, 7.5px); */
}

.contents .first-row .col-a .divider {
    width:99%;
}

.contents .work {
    font-size : calc(3vw + 20px);
    font-weight: 500;
    /* margin-left:5vw; */
}

.contents ul {
    display: flex;
    justify-content: space-between;
    padding:0px;
    margin-top: calc(2vw + 0px);
}

.contents li {
    list-style-type: none;
    display: inline;
    font-size: calc(1vw + 11px);
    padding:0px;
    word-spacing: 0px;
    /* font-size: calc(3vw + 20px); */
}

.contents li:hover, .contents li .active {
    font-weight: 600;
    font-style: italic;
}

.contents .second-row {
    display:block;
    margin-left: calc(1.5vw + 0px);
    margin-right: calc(1.5vw + 0px);
    margin-top: calc(1.5vw + 0px);
    margin-bottom: calc(5vw + 0px);
}

.contents .masonry {
    /* column-count:4; */
    display: grid;
    grid-gap: 3vw;
    /* grid-template-columns: repeat(auto-fill, minmax(calc(15vw + 80px), 1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(calc(15vw + 80px), 1fr));
    grid-auto-rows: 0;
    /* margin: 0 auto;
    max-width: 768px;
    column-gap:2em; */
    /* overflow:hidden; */
}

.col--2x {
    grid-row-end: span 2;
}
 .col--3x {
    grid-row-end: span 3;
}

.contents .workframe {
    /* padding: 1em; */
    /* margin: 0 0 0 2.5em; */
    margin: 0;
    float: left;
    display: none;
}

.show {
    display: inline-block !important;
}

.contents .workframe img, .contents .workframe video {
    width: 100%;
    transition: 0.2s;
    margin:0px;
    padding:0px;
}

.contents .workframe img:hover, .contents .workframe video:hover{
    opacity:0.9;
    transform: scale(1.05);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}

.contents .title {
    font-size: calc(0.8vw + 10px);
    font-weight: 500;
    margin-top: 8px;
    margin-left: 5px;
    line-height: 1;
}

.contents .subtitle {
    font-size: calc(0.8vw + 8px);
    font-weight: 400;
    margin-top: 0px;
    margin-left: 5px;
    line-height: 1;
    transform: translate(0px, calc(0.5vw + 0px));
}