.col, .col-auto,
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    padding: 0px;
}

.row {
    margin: 5px;
}

body {
    font-family: "WhyteInktrap", sans-serif;
}

.divider {
    width: 100%;
    height: 1.5px;
    background-color: black;
    margin-right:32px
}

html {
    cursor: url(cursor.png) 16 32, auto;
}