.col, .col-auto,
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    padding: 0px;
}

html {
    box-sizing:border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: "WhyteInktrap", sans-serif;
    word-break: keep-all
}

.divider {
    width: 100%;
    height: 2px;
    background-color: black;
}

html {
    cursor: url(cursor1.png) 10 20, auto;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: url(cursor2.png) 10 20, auto;
    text-decoration: none;
}

a:-webkit-any-link:hover {
    color: yellow;
}

a:link {
    color: black;
    text-decoration: none
}

a:hover, a:active {
    color: yellow;
}

a:visited {
    color: black;
}

.masonry a:hover  {
    color:black;
}

.topbar {
    background-color: white;
    display: none;
}

.topbar-active {
    display: block;
}

.bg-container {
    position: absolute;
    top: 0px;
    left: 0px;
    align-items: center;
    z-index: -1;
}

.bg-video {
    width: 100%;
    height: calc(320px + 2.5vw);
    object-fit: cover;
    /* object-position: 30% 0; */
    filter: opacity(75%);
    /* background-color: blue; */
    /* background-image: url(../image/w6-2.png); */
}

.row {
    margin: 0px;
}

.title_eng {
    font-size: calc(3.5vw + 24px);
    font-weight: 300;
}

.title_kor {
    word-spacing: 50px;
    font-size: calc(3.5vw + 24px);
    font-weight: 600;
}

.intro {
    font-size: calc(0.8vw + 14.5px);
    font-weight: 600;
}

.intro_eng {
    font-size: calc(0.8vw + 16px);
    font-weight: 400;
}

.bio {
    font-size: calc(0.4vw + 12.5px);
    font-weight: 400;
    margin-bottom : 1px;
}

.ig, .email {
    font-size: calc(0.8vw + 15px);
    font-weight: 400;
}

.resume, .portfolio {
    font-size: calc(0.8vw + 15px);
    font-weight: 600;
}

.resume:hover {
    font-style: italic;
}

.box, .bbox{
    /* width: 90px; */
    width: 6vw;
    height: 21px;
    /* height: calc(0.5vw + 13px); */
    border: 1px solid black;
    margin-bottom: 5px;
}

.bbox{
    background-color: black;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 1vw; /* Place the button at the bottom of the page */
    right: 1vw; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    /* font-size: 18px; */
  }
  
  #myBtn:hover {
    font-style: italic;
    font-weight: 600;
  }