.work {
    margin-top:10px;
}

.work .zero-row {
    padding: 0px 1vw;
}

.work .first-row .col-text {
    padding-top:1vw;
}

.work .col-pic {
    padding: 0vw 1vw;
}

.work img {
    padding: 1vw 0vw;
}

.work .third-row img {
    padding-top: 1vw;
    padding-bottom: 0;
}

.work .first-row .col-text {
    padding-left:10px;
    padding-right: 0px;
}

.sticky {
    position:fixed;
    top:0px;
    padding-top:160px;
    margin-right:8px;
    overflow: auto;
    z-index: -1;
}

.contents {
    padding-top:3vw;
    background:#fff;
    z-index: 1;
    position: relative;
}

.box, .bbox{
    margin-right: 0px;
    margin-left: 0px;
}

.work .third-row {
    position: relative;
}

.work .third-row .col-a {
    position: absolute;
    bottom:0;
    margin-left:58%;
}

.work .third-row .bottom {
    margin-top:10px;
}

.work .third-row .col-b {
    position: absolute;
    bottom:0;
    right:0;
    transform: translate(0px, 5px);
}

.work .fourth-row {
    padding: 2vw 2vw;
    background:#fff;
    z-index: 1;
    position: relative;
}

.work .fourth-row .bio {
    width:90%;
}

.work .fourth-row .small {
    font-size: 15px;
    font-weight: 400;
}