.work {
    margin-top:10px;
}

.work .zero-row {
    padding: 0px 1vw;
}

.work .zero-row .ig, .work .fourth-row .ig {
    line-height: 1;
}

.work .first-row .col-text {
    padding-top:1vw;
    padding-left:3vw;
    padding-right: 0px;
}

.work .col-pic {
    padding: 0vw 1vw;
}

.work img {
    padding: 1vw 0vw;
    /* padding-left:5vw; */
}

.work .third-row img {
    padding-bottom: 0;
}

.sticky {
    position:fixed;
    top:0px;
    transition:1s;
    padding-top:calc(165px + 1vw);
    margin-right:8px;
    overflow: auto;
    z-index: -1;
    background-color: white;
}

.contents {
    padding-top:3vw;
    background:#fff;
    z-index: 1;
    position: relative;
}

.box, .bbox{
    margin-right: 0px;
    margin-left: 0px;
}

.work .third-row {
    position: relative;
}

.work .third-row .col-a {
    position: absolute;
    bottom:0;
    margin-left:61.5%;
    z-index: -99;
}

.work .third-row .bottom {
    margin-top:10px;
}

.work .third-row .col-b {
    position: absolute;
    bottom:0;
    right:0;
    transform: translate(0px, 5px);
}

.work .fourth-row {
    padding: 2vw 2vw;
    padding-top: 5vw;
    background:#fff;
    z-index: 1;
    position: relative;
}

.work .fourth-row .bio {
    width:90%;
}

.work .third-row .small {
    font-size: calc(0.4vw + 8px);
    /* padding-left:3vw; */
}

.work .fourth-row .small {
    font-size: 12px;
    font-weight: 400;
}